<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      Create New Note
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <%= render 'form', note: @note, labels: @labels %>
      </blockquote>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <form action="/notes" id="filter">
    <button class="btn btn-secondary">Apply Filters</button>
    <div class="date-time-range-picker-pf input-group" id="range1">
      <label for="datetimepicker4">Select Start
        Date</label><input name="start_date" type="text" class="form-control" id="datetimepicker4">
      <label class="input-group-addon" for="datetimepicker5">Select End
        Date</label><input name="end_date" type="text" class="form-control" id="datetimepicker5">
      <div class="dropdown btn-group dropdown-kebab-pf">
        <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="fa fa-ellipsis-v"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownKebab">
          <li class="dropdown-item"><a href="">7 days</a></li>
          <li class="dropdown-item"><a href="">15 days</a></li>
          <li class="dropdown-item"><a href="">30 days</a></li>
          <li class="dropdown-item"><a href="">90 days</a></li>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <label for="user_email"> Enter Email to Filter</label>
      <input type="email" placeholder="Email" class="form-control" name="user_email" id="user_email">
    </div>
    <div class="form-group">
      <input type="hidden" placeholder="Labels" class="form-control" name="labels" id="labelFilterList">
      <div class="tag-filter-list mt-3">
      </div>
    </div>
    <div class="form-group">
      <label for="sel1">Sort the Posts</label>
      <select class="form-control" name="sort_by" form="filter">
        <option value="DESC">Most Recently First</option>
        <option value="ASC">Least Recently First</option>
      </select>
    </div>
    <div class="btn-group dropright mb-3">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Labels
      </button>
      <div class="dropdown-menu">
        <% @labels.each do |label| %>
          <%= link_to label.name, "#", class: "dropdown-item label-filter-item" %>
        <% end %>
      </div>
    </div>
  </form>
</div>


<div class="container" id="notes">
  <% @notes.each do |note| %>
    <%= render 'note', note: note %>
  <% end %>
</div>

<div class="first wrap">
  <button type="button" id="scroll" style="position: fixed; bottom: 10px; right: 10px;">Scroll To Top</button>
</div>

<script>
    $(document).ready(function () {
        let converter = new showdown.Converter();
        let pad = document.getElementById('note_description');
        let markdownArea = document.getElementById('markdown');
        let convertTextAreaToMarkdown = function(){
            let markdownText = pad.value;
            let html = converter.makeHtml(markdownText);
            markdownArea.innerHTML = html;
        };
        $(document).on('input', pad, convertTextAreaToMarkdown);
        convertTextAreaToMarkdown();
    });
</script>
